body{
	margin: 50px;
}

h3{
	text-align: center;
	color: white;
	margin: 1px auto	;
}
.row.formhead{
	background-color: grey;
}
.row.headline{
	background-color: #a09c9c;
}
.large-3.columns.right{
	float: right;
}
.row.primaryline{
	background-color: lightgrey;
}
h4{
	text-align: center;
	color: white;
	margin: 0px;	
}
h5{
	color: grey;
	padding: 0px ;
	margin: 0px;

}
hr{
	height: 30px;
	background-color: black;

}
h4.qrcode{
	color: black;
	text-align: left;
}
.submitform{
	width: 150px;
	height: 50px;
	border-radius: 5px;	
	background-color: green;
	color: white;
	font-weight: bold;
	font-size: 17px;
	text-align: center;
	float: right;
}